SERPAPI_API_KEY=your_serpapi_key_here
SERPAPI_LOCATION=United States
SERPAPI_GL=us
SERPAPI_HL=en
SERPAPI_DEBUG=true
MYSQL_URL=mysql+pymysql://root:your_mysql_password@localhost:3306/linkedin_job_finder
CORS_ALLOW_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
